<app-header [atras]="true" [url]=''></app-header>
<ion-content color="primary" [scrollEvents]="true"
(ionScroll)="onScroll($event)">
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
  <ion-toolbar mode="ios" class="ion-margin-bottom" [ngClass]="{'filter-sticky': flagFilterSticky}">
    <ion-segment mode="ios" (ionChange)="redesValue($event)"  [(ngModel)]="redeOption" >
      <ion-segment-button value="1" mode="ios">
        Recomendações
      </ion-segment-button>
      <ion-segment-button value="2" mode="ios"> Minha Rede </ion-segment-button>
      <ion-segment-button value="3" mode="ios"> Promoções </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="ion-padding ion-margin ion-text-center" *ngIf="!loadings">
    <app-spinner></app-spinner>	
  </div>

  <app-posts-rede (ProfileId)="profilePage($event)" (EmitePost)="reloads($event)" [posts]="post" *ngIf="loadings"></app-posts-rede>

</ion-content>