 
ion-segment-button{

    font-size: 3.4vw
}
ion-toolbar{
    --background:white;
     border-radius: 0px 0px 20px 20px;
     height: 39px;
  
}
ion-segment{
    width: 100%;
}
.full {
    width: 94%;
    height: 94%;
}

 