ion-toolbar{text-align: center;
    border: none;
    --border-width: 0 0 0px!important;
 
}
ion-header{
    border: none;
    --border-width: 0 0 0px!important;
    margin-top: 0px;
    border-radius: 0px;
    height: 70px;
}
.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px !important;
    border-radius: 0px;
    height: 70px;
  
}
ion-header ion-toolbar:first-of-type {
    padding-top: 10px;
}
.transparente{
    --background: transparent;
}