<ion-content color="primary">
  <div class="ancho center  ion-padding">
    <img src="/assets/icon/loppfy.svg" class="logo_home" />
  </div>
  

  <form [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)" class="ion-padding">
    <ion-item mode="ios" >
      <ion-label mode="ios" position="stacked">E-MAIL: </ion-label>
      <ion-input mode="ios" formControlName="email" type="email" required></ion-input>
      <ion-icon
        mode="ios"
        name="person"
        color="secondary"
        slot="end"
      ></ion-icon>
    </ion-item>
 <small  class="center">
  Digite seu email, uma nova senha será enviada para seu email, desde que os dados estejam corretos.
 </small>
    <div class="center  ion-padding">
      <ion-button class="button_rojo" mode="ios"  type="submit" [disabled]="!validations_form.valid">Enviar email</ion-button>
     <br>
      <ion-button class="button_blanco" mode="ios" (click)="register()">Login</ion-button>
    </div>
  </form>
</ion-content>
