<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" color="primary" size="large" name="chevron-down-outline" (click)="dismissModal()" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <h5>{{produto.name}}</h5>

  <h4>{{quantidade}}</h4>
  <ion-button (click)="min()">
    <ion-icon color="secondary" name="remove"></ion-icon>
  </ion-button>
  <ion-button (click)="add()">
    <ion-icon color="secondary" name="add"></ion-icon>
  </ion-button>
  <hr>
  <p>Valor unitário: {{produto.offerts > 0 ? produto.amount_offerts : produto.price | currency}}</p>
  <p>Total: {{produto.offerts > 0 ? produto.amount_offerts * quantidade : produto.price * quantidade | currency}}</p>
  
  <ion-button *ngIf="typeUser==1" (click)="verifycart()" class="button_rojo" mode="ios" fill="clear" >Adicionar ao Carrinho</ion-button>
  <ion-button *ngIf="typeUser==1"  (click)="verifycart()" class="button_verdeagua" mode="ios" fill="clear" >Comprar Agora</ion-button>
</ion-content>