<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" mode="ios" text="" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">Preencha os Dados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-no-padding" color="primary">
		<div *ngIf="isLoadding">
	<form [formGroup]="validations_form">
		<ion-card class="ion-no-padding">

			<ion-item class="ioncamera ion-padding" lines="none" >		
			  <img class="camera-button" [src]="photo" (click)="goToCamera()">
			</ion-item>
	
	 


				<ion-item lines="full" class="no-padding">
					<ion-label position="stacked">Razão social</ion-label>
					<ion-input type="text" formControlName="razon"></ion-input>
				</ion-item>
				<ion-item lines="full">
					<ion-label position="stacked" *ngIf="tipo!=4">CNPJ: </ion-label>
					<ion-label position="stacked" *ngIf="tipo==4">CPF: </ion-label>
					<ion-input type="text" formControlName="cnpj" readonly ></ion-input>
				</ion-item>
				<ion-item lines="full">
					<ion-label position="stacked">CEP: </ion-label>
					<ion-input type="text" formControlName="cep" (ionBlur)="validarCep(validations_form.value.cep)"></ion-input>
				</ion-item>
				<ion-item lines="full">
					<ion-label position="stacked">Endereço: </ion-label>
					<ion-input type="text" formControlName="address" readonly></ion-input>
				</ion-item>
				<ion-item lines="full">
					<ion-label position="stacked">Complemento: </ion-label>
					<ion-input type="text" formControlName="complemento"></ion-input>
				</ion-item>
				<ion-item lines="full">
					<ion-label position="stacked">Nome do contato: </ion-label>
					<ion-input type="text" formControlName="name"></ion-input>
				</ion-item>
				<ion-item lines="full">
					<ion-label position="stacked">Telefone: </ion-label>
					<ion-input type="number" formControlName="phone"></ion-input>
				</ion-item>
				<ion-item lines="full">
					<ion-label position="stacked">Email: </ion-label>
					<ion-input type="email" formControlName="email"></ion-input>
				</ion-item>

				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.email">
						<div class="error-message"
						*ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
						{{ validation.message }}
						</div>
					</ng-container>
				</div>

				
				<ion-item lines="full"  mode="ios">
					<ion-label position="stacked"  mode="ios">PASSWORD: </ion-label>
					<ion-input mode="ios" formControlName="password" [type]="typeOption" required></ion-input>
					<ion-icon *ngIf="viewPassword" (click)="passwordview(false)" mode="ios" name="eye" color="secondary" slot="end"></ion-icon>
					<ion-icon *ngIf="!viewPassword" (click)="passwordview(true)" name="eye-off" mode="ios" color="secondary" slot="end"></ion-icon>
				   </ion-item>
				  <ion-item lines="none"  mode="ios">
					<ion-label position="stacked"  mode="ios">CONFIRMAR PASSWORD: </ion-label>
					<ion-input [type]="typeOption" mode="ios" formControlName="confirmPassword" name="confirmPassword"></ion-input>
					<ion-icon *ngIf="viewPassword" (click)="passwordview(false)" mode="ios" name="eye" color="secondary" slot="end"></ion-icon>
					<ion-icon *ngIf="!viewPassword" (click)="passwordview(true)" name="eye-off" mode="ios" color="secondary" slot="end"></ion-icon>
			  
				  </ion-item>
		 
 

				  <ion-item lines="none"  mode="ios">
					<ion-checkbox  mode="ios" formControlName="politicas" slot="start"></ion-checkbox>
					<ion-label  mode="ios" class="ion-text-wrap black">Ao criar a conta, você concorda com nossos <a class="red" href="https://loopfy.app/termos-e-condicoes/" target="_blank">Termos e condições de uso</a> e nossa <a  class="red" target="_blank" href="https://loopfy.app/politica-de-privacidade/">Política de Privacidade</a></ion-label>   
				  </ion-item>
 

	 
	 
	 
    <ion-button class="button_rojo" mode="ios"  type="submit" [disabled]="!validations_form.valid" (click)="presentAlertConfirm()" >Continuar</ion-button>
</ion-card> 
	</form>
	</div>
	<div *ngIf="!isLoadding" >
		<h5  class="ion-text-center option-center">Insira apenas o número para verificar seus dados</h5>

	 
		<form [formGroup]="verificar_form" >
		
		

			<ion-item lines="full" >
				<ion-label position="stacked" *ngIf="opciondata=='1'">CNPJ: </ion-label>
				<ion-label position="stacked" *ngIf="opciondata=='2'">CPF:</ion-label>
				<ion-input type="text" formControlName="cnpj" ></ion-input>
			</ion-item>

			<ion-item lines="full" class="no-padding" mode="ios" *ngIf="opciondata=='2'">
				<ion-label position="stacked">Data de Nascimento</ion-label>
				<ion-datetime displayFormat="DD-MM-YYYY" formControlName="birthday" mode="ios"  okText="ok" cancelText="Cancelar"></ion-datetime>
			   
			  </ion-item>
	
	 

			<ion-button class="button_rojo" mode="ios"  type="submit" [disabled]="!verificar_form.valid" (click)="validarCnpj(verificar_form.get('cnpj').value)" >Continuar</ion-button>
		</form>
	</div>
</ion-content>