ion-label{
    padding: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    small{
        font-size: 10px;
        text-transform: inherit;

    }
}
ion-avatar{
    width: 100px;
    height: 100px;
}