  <ion-content  color="primary">
    <div color="tertiary" class="ion-text-center ion-padding ">
      <img src="/assets/icon/loppfy.svg" class="logo_home" />
     </div>
    <div style="text-align: center;">
    <ion-icon name="checkmark-circle" style="font-size: 150pt;" color="tertiary"></ion-icon>
  </div>
  
    <div class="ion-padding ion-margin">

       
        <h1   class="ion-text-center option-center">O agendamento foi adicionado ao carrinho com sucesso!</h1>
    </div>

    <ion-row>
      <ion-col size="12">
        <ion-button color="secondary" expand="full" shape="round" mode="ios" (click)="openurl(1)" >
          Continuar comprando
        </ion-button>
      </ion-col>
      <ion-col  size="12">
          
      <ion-button color="tertiary" expand="full" shape="round"  mode="ios"    (click)="openurl(2)" >
        Carrinho de compras
       </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
 