<app-header [atras]="true" [url]='url'></app-header>
<ion-content color="primary" [scrollEvents]="true"
(ionScroll)="onScroll($event)">
  <h4   class="ion-text-center option-center">Escolha seu Pet</h4>
  <app-loadings *ngIf="!isLoadding"></app-loadings>
  <div *ngIf="isLoadding">

    <ion-searchbar placeholder="Pesquisa seu Pet"  [(ngModel)]="search" [ngClass]="{'filter-sticky': flagFilterSticky}"></ion-searchbar>

    
    
    <ion-card *ngFor="let datamascote of mascote | filter:search ">
      <ion-item mode="ios" class="ion-no-padding ion-no-margen"  (click)="getSelectMascote(datamascote)">
        <ion-avatar slot="start" > 
          <img [src]="datamascote.photo" />
        </ion-avatar>
        <ion-label
          >{{datamascote.name}}
          <br />
          <small>{{datamascote.description}}</small>
        </ion-label>
        <ion-buttons slot="end">
       
          <ion-button mode="ios" color="secondary" >
            <ion-icon
              slot="icon-only"
              name="add"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item mode="ios" class="ion-no-padding ion-no-margen" (click)="newPets()">
        <ion-label  class="ion-padding"> 
          Novo Mascote
        </ion-label>
        <ion-buttons slot="end">
       
          <ion-button mode="ios" color="tertiary">
            <ion-icon     slot="icon-only" name="add-circle" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>

 

  </div>

</ion-content>
