<app-header [atras]="true" [url]=''></app-header>
<ion-content color="primary" [scrollEvents]="true"
(ionScroll)="onScroll($event)">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
    <ion-card class="ion-text-center">
      <ion-card-header>
        <h3>Termos E Condições</h3>
      </ion-card-header>
      <ion-card-content>
        <h5>TERMOS DE USO E CONDIÇÕES GERAIS DA PLATAFORMA LOOPFY</h5>
        <p></p>
        <p>Este Termo de Uso e Condições Gerais da Plataforma Loopfy (“Termo de Uso”) destina-se a regular a relação entre EZPET LTDA (LOOPFY), sociedade empresária, inscrita no CNPJ sob nº 39.891.628/0001-60, com endereço profissional na Rua João Antônio de Oliveira, nº 1228, apto. 11, e Bloco 2, Mooca, na cidade de São Paulo/RS; e a pessoa física, INTERNAUTA, USUÁRIO COMUM, USUÁRIO PARCEIRO ou, ainda, o USUÁRIO AFILIADO da plataforma LOOPFY, no que se refere a utilização dos espaços de <em>Marketplace</em> ou <em>Perfil</em> disponíveis, conforme aplicável, no ambiente logado exclusivo para USUÁRIOS.</p>



<h5><strong>1. DAS CONSIDERAÇÕES INICIAIS</strong></h5>



<p>1.1. O presente Termos de Uso e Condições Gerais contém informações sobre o uso dos serviços disponibilizados sendo elaborado em conformidade com a Lei Geral de Proteção de Dados Pessoas e o Marco Civil da Internet.</p>



<p>1.2. Ao navegar nesta plataforma, o visitante declara ter lido, compreendido e aceito os Termos de Uso e Política de Privacidade que o regem e todos os outros alertas e avisos que possam aparecer vinculados a assuntos tratados nos referidos Termos.</p>



<p>1.3. A ACEITAÇÃO DO PRESENTE TERMOS DE USO E CONDIÇÕES GERAIS É ABSOLUTAMENTE INDISPENSÁVEL À UTILIZAÇÃO DOS SERVIÇOS.</p>



<p>1.4 O Usuário poderá encontrar na plataforma:</p>



<p>(i) produtos e/ou serviços de propriedade de empresas parceiras (respectivamente “Lojista”, “Prestador de Serviço”, “Veterinário”, “Produtos”); e</p>



<p>(ii) perfil individual do Usuário pessoa física, com a possibilidade de publicação de fotos e imagens e interação com os demais Usuários da plataforma, inclusive com perfil personalizado referente ao seu PET;</p>



<p>(iii) anúncios em geral;</p>



<p>1.5. O Usuário declara ter conhecimento que a LOOPFY não é proprietária ou fornecedora dos Produtos e Serviços oferecidos no ambiente de Marketplace, sendo responsabilidade da mesma, unicamente, <strong>disponibilizar</strong> espaço nos Meios Digitais para que as Empresas Parceiras divulguem aos Usuários os seus produtos e serviços, bem como <strong>intermediar</strong> as transações financeiras referentes a aquisição destes através do Parceiro Pagar.me.</p>



<h5><strong>2. DAS DEFINIÇÕES</strong></h5>



<p>2.1 Os termos abaixo descritos, quando empregados no presente Termos de Uso e Condições Gerais, terão os seguintes significados:</p>



<p>(i) Internauta: todos aqueles que de alguma forma acessam a PLATAFORMA, clientes ou não e cadastrados ou não;</p>



<p>(ii) Usuário Comum: todas as pessoas que completam o cadastro na PLATAFORMA e recebem uma conta de acesso individual e exclusiva, para cadastro do seu PET;</p>



<p>(iii) Usuário Parceiro: todas as pessoas, física ou jurídica, que completam o cadastro na PLATAFORMA e disponibilizam produtos ou serviços;</p>



<p>(iv) Usuário Afiliado: todas as pessoas, física ou jurídica, que completam o cadastro na PLATAFORMA e impulsionam as vendas de produtos e serviços dos Usuário Parceiro;</p>



<p>(v) Clientes: todas as pessoas que adquiriram os produtos ou serviços oferecidos pelo PLATAFORMA, pagos ou não;</p>



<p>(vi) Conta de Acesso: Cadastro formado pelo e-mail, único e intransferível para cada Usuário da plataforma, que dará permissão ao Usuário de realizar compras.</p>



<h5><strong>3. DA FINALIDADE DA PLATAFORMA</strong></h5>



<p>3.1 Os serviços objeto dos presentes Termos e condições gerais consistem em:</p>



<p>(i) Oferecer serviços de Marketplace, intermediando negócios entre Usuários Parceiros, Usuários Comuns e Usuário Revendedor para adquirir os produtos e serviços anunciados, por meio da divulgação dos dados de contato de uma parte à outra. A Loopfy possibilita aos Usuários se contatarem e negociarem entre si diretamente, sem qualquer intervenção, na negociação ou na concretização dos negócios.</p>



<p>(ii) Oferecer Meios Digitais e oportunidades personalizadas aos Usuários em geral de criar, conectar, comunicar e compartilhar sobre os seus PETS, produtos e serviços;</p>



<p>(iii) Interação entre Usuários, através de um perfil individual do Usuário pessoa física, com a possibilidade de publicação de fotos e imagens e interação com os demais Usuários da plataforma, inclusive com perfil personalizado referente ao seu PET;</p>



<h5><strong>&nbsp;4. DO CADASTRO</strong></h5>



<p>4.1. Para ser um Usuário do PLATAFORMA basta que o Internauta preencha o formulário de cadastro disponível e concorde com os Termos de uso e Condições Gerais e Política de Privacidade;</p>



<p>4.2. O Usuário precisa ter capacidade legal para contratar, isto é, ser maior de 18 anos ou emancipado. Sendo menor de idade, seu responsável legal terá de arcar com as consequências dos atos praticados em nome do Usuário;</p>



<p>4.3. O Usuário que se cadastrar na PLATAFORMA utilizando dados de terceiros poderá incorrer em prática de crimes, sem prejuízo de eventual responsabilização por legislação específica.</p>



<h5><strong>5. DOS PRODUTOS OU SERVIÇOS</strong></h5>



<p>5.1 O Usuário Parceiro será responsável por enviar à plataforma LOOPFY todas as informações referentes aos produtos que deseja anunciar, tais como, imagens, fotos, características, especificações, exceto na hipótese de já existir o cadastro do produto na plataforma LOOPFY.</p>



<p>5.1.1 Ao fornecer as características dos produtos à LOOPFY, o Usuário Parceiro deve descrevê-las com clareza, devendo incluir todas as informações exigidas pela legislação e/ou pela LOOPFY e, sempre que possível, gráficos, textos, descrições, fotos e outras informações que possam auxiliar na correta identificação do produto.</p>



<p>5.1.2 O Usuário Parceiro será inteiramente responsável pelas imagens, características e especificações do produto que forem fornecidas por ele à LOOPFY.</p>



<p>5.1.3 A LOOPFY poderá, a seu exclusivo critério, aprovar ou reprovar o cadastro do produto realizado pelo Usuário Parceiro.</p>



<p>5.1.4 O Usuário Parceiro deve, em cumprimento à legislação brasileira vigente, além de demonstrar informações claras e ostensivas a respeito de quaisquer restrições à aquisição do produto, apontar sempre em seus anúncios as características essenciais do produto, incluindo os riscos à saúde e à segurança dos consumidores, quando aplicável.</p>



<p>5.1.5 O Usuário Parceiro compromete-se a anunciar apenas produtos que estejam em perfeito estado de funcionamento, e sem quaisquer impedimentos que comprometam sua funcionalidade, incluindo, problemas com sistemas, desgaste oriundo do tempo e/ou do uso, bloqueio por senhas e peças faltantes e/ou danificadas.</p>



<p>5.1.6 O Usuário Parceiro declara ciência de que não é permitido anunciar produtos expressamente proibidos pela legislação vigente, que não possuam a devida autorização específica de órgãos competentes, que violem direitos de terceiros, ou ainda para os quais o Parceiro não esteja autorizado por seus cadastros fiscais.</p>



<p>5.1.7 O Usuário Parceiro declara ciência de que deverá emitir a competente Nota Fiscal em favor do cliente adquirente dos produtos ou serviços, sendo o único responsável pela mesma, inclusive recolhimento de eventuais impostos.</p>



<p>5.2 Os Produtos e Serviços ofertados no Marketplace pelos Usuários Parceiros, poderão ser adquiridos dentro do próprio ambiente do Marketplace através do <strong>Pagar.me</strong> (<a rel="noreferrer noopener" href="https://pagar.me/aviso-de-privacidade/#:~:text=Informa%C3%A7%C3%A3o%3A%20o%20Titular%20de%20Dados,os%20limites%20t%C3%A9cnicos%20e%20jur%C3%ADdicos" target="_blank">acessar link</a>), <strong>mas sob responsabilidade do Usuário Parceiro</strong>; </p>



<p>5.3 O Usuário Comum reconhece que os Usuários Parceiros são responsáveis por estabelecer as condições de compra dos Produtos e Serviços (preço, condições e taxas/valores de entrega, garantia, devolução, troca, validade e reembolso), não possuindo, a LOOPFY, responsabilidade por eventuais danos ou prejuízos causados.</p>



<h6><strong>6. DA ENTREGA, TROCA OU DEVOLUÇÃO</strong></h6>



<p>6.1 Os Usuários Comuns declaram que a forma de entrega do Produto ou Serviço adquirido na plataforma será de livre escolha dos mesmos, seja através da uma das plataformas sugeridas pelo Usuário Parceiro, pela entrega expressa, plataforma do Melhor Envio ou, ainda, através da retirada direta com o Usuário Parceiro, não tendo da LOOPFY qualquer responsabilidade pela entrega. No entanto, é obrigatório que a aquisição seja realizada dentro da plataforma da LOOPFY.</p>



<p>(i) Todas as condições e decisões relacionadas a entrega serão de responsabilidade única e exclusiva do Usuário Parceiro, quando o Usuário Comum optar pela retirada no local ou, da plataforma optada no momento da compra (Melhor Envio ou outra), não tendo a Loopfy qualquer responsabilidade.</p>



<p>(ii) Não obstante o disposto acima, em casos de compras realizadas por Usuário Comum através do seu aplicativo, em Ambiente Logado, a plataforma disponibilizará ao Usuário Cliente uma forma de acompanhar o status de seu pedido, mas a atualização deste status é responsabilidade do Usuário Parceiro.</p>



<p>6.2 Os Usuários declaram estarem cientes que a Troca, Devolução e Cancelamento respeitam as seguintes regras:</p>



<p>(i) O Usuário poderá realizar o cancelamento da compra, sendo que esse processo de cancelamento será intermediado pela LOOPFY:</p>



<p>a) <strong>Cancelamento.</strong> O prazo para cancelamento poderá variar, de acordo com o Produto e Serviço e a sua respectiva regulamentação, sendo adotado, salvo regra específica em contrário, o prazo previsto na Lei n° 8.078/1990 (Código de Defesa do Consumidor), qual seja de até 7 (sete) dias corridos contados do 1º (primeiro) dia subsequente ao do (i) recebimento pelo Cliente Banco Inter do Produto; ou (ii) da contratação do Serviço pelo Cliente;</p>



<p>b) <strong>Devolução do produto. </strong>Quando optada pela entrega do produto através do Melhor Envio, expressa ou outra, as devoluções irão respeitar a política de Logística Reversa de cada empresa específica. &nbsp;</p>



<p>(iii) Os <strong>estornos</strong> a serem realizados em casos de devoluções e cancelamentos de Produtos e/ou Serviços por Usuário Comum diretamente na Compra pelo APP, a LOOPFY realizará o estorno, mas condicionado ao processo e políticas de aprovação, incluindo análise e prazos, dos Usuários Parceiros.</p>



<p>6.3 A LOOPFY disponibilizará na sua plataforma um atendimento ao consumidor, através de telefone, e-mail ou chat para recepção e transferência dos contatos relativos às compras efetuadas nos Websites LOOPFY, devendo o Usuário Parceiro utilizá-la para os contatos relacionados às operações realizadas nos Websites LOOPFY, vedada a utilização de outros canais estranhos ao SAC LOOPFY para essa finalidade.</p>



<p>6.4 Sendo a LOOPFY demandada através do SAC LOOPFY, ou através de reclamação proposta administrativa ou judicialmente , por ou perante órgãos de proteção do consumidor, em razão de vícios de produto e/ou falhas da prestação de serviços atribuíveis ao Usuário Parceiro, a LOOPFY contatará o Usuário Parceiro para que solucione a reclamação, seguindo as obrigações do ANS, devendo o Usuário Parceiro manter a LOOPFY isenta de qualquer responsabilidade pelos ônus decorrentes das reclamações ou da demora na solução.</p>



<p>6.5 O Usuário Parceiro declara estar ciente que é responsável por eventuais vícios ou defeitos apresentados nos produtos ou serviços, responsabiliza-se em caso de eventual condenação em processo administrativo junto aos órgãos competentes ou, ainda, eventual condenação em ação judicial pleiteada pelos clientes cujo objeto seja a existência de vício ou defeito nos produtos ou serviços, inclusive ao pagamento de eventuais honorários advocatícios despedidos pelos Usuários Comuns, autorizando o chamamento ao processo.</p>



<h5><strong>7. DA PRIVACIDADE DOS NOSSOS VISITANTES</strong></h5>



<p>7.1 O LOOPFY possui política expressa sobre Privacidade dos dados obtidos por meio da plataforma. As informações de cadastro e demais informações sobre os Usuários estão sujeitas ao tratamento definido na referida Política.</p>



<p>7.2 Para maiores informações, favor consultar o documento “Política de Privacidade”. Tal documento constitui parte integrante e indissociável dos Termos e Condições de Uso da plataforma do LOOPFY e deverá ser lido atentamente por todos os Usuários.</p>



<p>7.3 Na hipótese das disposições contidas nos Termos e Condições de Uso conflitar com as disposições previstas na Política de Privacidade, observar-se-á o disposto no documento que trate do tema com especificidade.</p>



<h5><strong>8. DA UTILIZAÇÃO DO PORTAL DO LOOPFY E DE SEUS LINKS</strong></h5>



<p>8.1.A plataforma do LOOPFY permite que seus Usuários expressem suas opiniões referentes aos produtos oferecidos por seus Usuário Parceiros, bem como sobre os produtos que foram adquiridos ou que já conheçam, além de interagirem uns com os outros, através de publicações e imagens dos seus PETS. Tais opiniões não devem ser tomadas como manifestação oficial do LOOPFY a respeito deles, mas, como uma declaração de experiência do próprio Usuário feita de forma espontânea e colaborativa.</p>



<p>8.2. É recomendável, portanto, que os Usuários e Clientes utilizem a publicação de comentários de maneira ponderada e restrita à avaliação pessoal de produtos, bem como da interação entre os demais Usuários. Lembramos que o conteúdo de cada comentário é de única e exclusiva responsabilidade civil e penal do Usuário.</p>



<p>8.3 O LOOPFY não se responsabilizará pelo conteúdo de nenhum comentário, os quais não serão revisados proativamente. Entretanto, se necessário, o LOOPFY se reserva ao direito de reprovar, restringir ou eliminar comentários em desacordo com o propósito de avaliação de produtos, a seu critério, ou que contenham: Ofensa à honra, imagem, reputação e dignidade de terceiros; Pornografia, pedofilia, e outras modalidades de satisfação sexual; Racismo ou discriminação de qualquer natureza; Bullying, Stalking ou qualquer outra espécie de constrangimento ilegal ou assédio; Manifesta violação a direito autoral ou direito de imagem; Utilização de marcas, símbolos, logotipos ou emblemas de terceiros; Instigação ou apologia à prática de crimes, como tráfico ou uso de entorpecentes, estupro, homicídio, estelionato, dentre outros; Atividade comercial, promocional ou que sugira o exercício da atividade econômica própria ou de terceiros; Erros ou suspeita de equívocos.</p>



<p>8.4. A recorrência do descumprimento das regras expostas ou o exercício de ilegalidades possibilitam ao LOOPFY, a qualquer tempo e de maneira unilateral, o cancelamento da conta de acesso do Usuário, sem necessidade de aviso prévio ou direito a indenização, sob qualquer pretexto.</p>



<p>8.6. Os Usuários declaram, ainda, que em nenhuma hipótese o LOOPFY será responsável pelo acesso a links nele indicados, sobretudo dos produtos oferecidos pelos fornecedores, da mesma forma que os atos praticados por Usuários que tenham por base informações obtidas nos links. O LOOPFY não se responsabiliza pelo conteúdo ou pelas políticas e práticas de privacidade dos Portais acessados através dos citados links.</p>



<p>8.7 Ao acessar a página do LOOPFY, o Usuário declara que irá respeitar todos os direitos de propriedade intelectual e os decorrentes da proteção de marcas registradas da mesma, bem como de todos os direitos referentes a terceiros que porventura estejam, ou estiveram, de alguma forma, disponíveis na plataforma do LOOPFY. O simples acesso na plataforma do LOOPFY não confere ao Usuário qualquer direito de uso dos nomes, títulos, palavras, frases, marcas, patentes, obras literárias, artísticas, lítero-musicais, imagens, vídeos, símbolos, entre outras, que nele estejam, ou estiveram, disponíveis.</p>



<p>8.8 É permitido fazer somente o arquivo temporário da plataforma do LOOPFY, sendo vedada sua utilização para finalidades comerciais, publicitárias ou qualquer outra que contrarie a realidade para o qual foi concebido, conforme definido neste Termo. São igualmente proibidas a reprodução, distribuição, divulgação, adaptação, modificação, utilização, edição, disponibilização em qualquer meio de comunicação, etc., total ou parcial, dos textos, figuras, gráficos que compõem a presente plataforma, sem prévia e expressa autorização do LOOPFY, sendo permitida somente a impressão de cópias para uso e arquivo pessoal, sem que sejam separadas as partes que permitam dar o fiel e real entendimento de seu conteúdo e objetivo.</p>



<h5><strong>9. DAS RESPOSABILIDADES</strong></h5>



<p>10.1 O Usuário será o único e exclusivo responsável pela escolha e seleção dos Produtos e Serviços que desejar adquirir, bem como pelo correto, devido e tempestivo pagamento dos Produtos e Serviços adquiridos junto aos Usuários Parceiros.</p>



<p>9.2 O LOOPFY adota todas as medidas para informação e segurança de seus Usuários. Assim, o Usuário assume todos os ônus e responsabilidades decorrentes dos atos que praticar na plataforma do LOOPFY e daqueles que terceiros praticarem em seu nome, por meio do uso de sua conta de acesso.</p>



<p>9.3 O Usuário é o único responsável pelas informações que prestar ou divulgar na plataforma do LOOPFY. O Usuário SE COMPROMETE A INDENIZAR o LOOPFY por quaisquer prejuízos e danos que causar em decorrência de suas ações ou omissões que violem as disposições contidas na legislação vigente ou nos Termos e Condições de Uso da plataforma do LOOPFY.</p>



<p>9.4 O Usuário declara, ainda:</p>



<p>(i) ter plena ciência de que os Produtos e Serviços, apesar de serem divulgados no Marketplace, são de propriedade dos Usuários Parceiros, reconhecendo que a LOOPFY, não vende ou presta quaisquer dos Produtos e Serviços divulgados no Marketplace, atuando somente como intermediadores;</p>



<p>(ii) ter plena ciência de que os Usuários Parceiros são os únicos responsáveis pelo estoque, pelas características e funcionalidades dos Produtos e Serviços divulgados no Marketplace;</p>



<p>(iii) ter plena ciência de que a LOOPFY não responde pela qualidade, funcionalidade, forma e características dos Produtos e Serviços fornecidos pelos Usuários Parceiros;</p>



<p>(iv) reconhecer que a LOOPFY não garante que os Meios Digitais funcionarão livres de erros, interrupções, mau funcionamento, atrasos ou outras imperfeições;</p>



<p>(v) reconhecer que a LOOPFY não tem qualquer ingerência sobre os sites e plataformas dos Usuários Parceiros, os quais possuem as suas próprias regras e políticas de privacidade de dados;</p>



<p>(vi) Reconhece que em nenhum caso a LOOPFY será responsável pelo lucro cessante ou por qualquer outro dano e/ou prejuízo que possa sofrer devido às negociações realizadas ou não realizadas por meio dos sites decorrentes da conduta de outros usuários;</p>



<p>(vii) Reconhece que a política de cancelamento e troca de produtos e serviços são de responsabilidade dos Usuários Parceiros, não tendo a LOOPFY qualquer responsabilidade sobre eventuais vícios ou defeitos nos produtos e serviços adquiridos, sendo que as políticas de trocas e devoluções deverão seguir as políticas e regras de cada Usuário Parceiro, considerada a opção de envio escolhida pelo Usuário e Cliente;</p>



<p>(viii) É sabedor, conhecedor e autoriza o envio de e-mails marketing e de conteúdo a respeito dos produtos e serviços constantes na plataforma da LOOPFY.</p>



<p>(x) Reconhece que todas as imagens de produtos apresentadas na plataforma são meramente ilustrativas. As descrições dos produtos expostos na plataforma foram elaboradas com base nas informações oferecidas pelos fornecedores. Deste modo, as informações dos produtos, assim como fotografias ou vídeos relativos aos mesmos, bem como nomes comerciais, marcas, símbolos distintivos de qualquer classe contidos na plataforma são expostos a título de orientação.</p>



<h5><strong>10. DAS TARIFAS E FATURAMENTO</strong></h5>



<p>10.1. O cadastro na plataforma LOOPFY é gratuito, no entanto, será cobrada uma comissão por parte do Usuário Parceiro que somente será paga quando a negociação se concretizar.</p>



<p>10.2. O usuário concorda em pagar à LOOPFY os valores correspondentes a qualquer serviço prestado em que haja uma tarifa estabelecida. A LOOPFY se reserva o direito de modificar, aumentar ou excluir tarifas vigentes a qualquer momento, mediante consentimento. Tais alterações não vigorarão em relação às negociações e anúncios já iniciados na data em que tais alterações sejam publicadas. Para estes, os Termos e condições gerais de uso valerão com a redação anterior.</p>



<h5><strong>11. DAS REGRAS E COMISSÃO AOS USUÁRIOS AFILIADOS</strong></h5>



<p>11.1 O Programa de Afiliados permite que os Afiliados comercializem um Produto mediante remuneração equivalente a um percentual do valor de cada venda que o Afiliado promover. Compete ao Usuário Parceiro decidir se deseja participar do Programa de Afiliados.</p>



<p>11.2 O Usuário Parceiro é integralmente responsável pela atuação dos Afiliados por ocasião da promoção das vendas de seu Produto. São consideradas condutas inadequadas dos Afiliados, entre outras, os seguintes exemplos: (a) a mudança da narrativa de vendas do Produto; (b) a prestação de informações falsas, incompletas ou imprecisas sobre quaisquer características do Produto; (c) a prática de spam ou qualquer prática que a LOOPFY entender nociva ao mercado de afiliação ou ao Programa de Afiliados.</p>



<p>11.3 Qualquer repasse de remuneração aos Afiliados deve se dar exclusivamente por meio da Plataforma. O Usuário Parceiro não pode criar outros mecanismos de pagamento de comissão, compensação, bonificação, pagamento direto ou remuneração a qualquer título realizados fora da Plataforma. O Usuário Parceiro também não pode exigir como requisitos para aceitar candidatos ou mantê-los como afiliados que (a) atinjam metas, (b) comprem previamente qualquer Produto ou (c) paguem qualquer valor ao Produtor.</p>



<p>11.4 As demais regras e condições do Programa de Afiliados será regido por instrumento próprio, a ser disponibilizado pela LOOPFY em momento oportuno.</p>



<h5><strong>&nbsp;12. DAS MODIFICAÇÕES DESTES TERMOS E CONDIÇÕES</strong></h5>



<p>12.1 Os Termos e Condições de Uso da plataforma do LOOPFY estão sujeitos a constante melhoria e aprimoramento. Assim, o LOOPFY se reserva o direito de modificar a qualquer momento, de forma unilateral, o presente Termos e Condições de Uso. Os novos Termos e Condições entrarão em vigor após 10 (dez) dias contados de sua publicação no plataforma. Caso os Usuários e Clientes não estejam de acordo com as novas regras, deverá entrar em contato com os canais de atendimento do LOOPFY, hipótese em que se considerará rescindido seu vínculo contratual com o LOOPFY, devendo, no entanto, ser cumpridas todas as obrigações assumidas até o momento da efetiva rescisão.</p>



<h5><strong>13. DA LEI APLICÁVEL E FORO DE ELEIÇÃO</strong></h5>



<p>13.1 Todos os itens destes Termos e condições gerais de uso são regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação, ao cumprimento ou qualquer outro questionamento relacionado a estes Termos e condições gerais de uso, as partes concordam em se submeter ao Foro da Cidade de São Paulo/SP, com exceção de reclamações apresentadas por Usuários que se enquadrem no conceito legal de consumidores, que poderão submeter tais reclamações ao foro de seu domicílio.</p>



<h5><strong>14. DAS DÚVIDAS</strong> </h5>



<p>14.1. Caso tenha qualquer dúvida em relação ao presente documento, favor entrar em contato:</p>



<p>Nome: Vinicius Durão Gonçalves  </p>



<p>E-mail: contato@loopfy.app</p>



<p>Abril de 2021</p>



<p><strong>LOOPFY</strong></p>
      </ion-card-content>
    </ion-card>

</ion-content>
